TIBBER_ACCESS_TOKEN=replace-me
SOLARMAN_ENABLED=true
SOLARMAN_USERNAME=replace-me
SOLARMAN_PASSWORD=replace-me
SOLARMAN_PLANT_ID=
SOLARMAN_BASE_URL=https://home.solarmanpv.com
SOLARMAN_TOKEN_PATH=/oauth2-s/oauth/token
SOLARMAN_GRANT_TYPE=password
SOLARMAN_CLIENT_ID=
SOLARMAN_CLIENT_SECRET=
SOLARMAN_SCOPE=
SOLARMAN_STATION_PAGE_SIZE=20
SOLARMAN_POLL_INTERVAL_MS=30000
SNAPSHOT_INTERVAL_MS=5000
SOLAR_STALE_AFTER_MS=90000
GRID_STALE_AFTER_MS=30000
PORT=3001
TZ=Europe/Oslo
